<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type=" log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.20.168/KYUYO;Persist Security Info=True;User ID=risk;Password=risk;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="DB_Server" value="192.168.20.168"/>
    <add key="DB_Service_Name" value="KYUYO"/>
    <add key="DB_User" value="risk"/>
    <add key="DB_Password" value="risk"/>
    <add key="DB_Port" value="1521"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <log4net>
    <!-- ファイルサイズAppender -->
    <appender name="SizeRollingLogToFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log/ProjectLiskManagement.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="20MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <!--
      下記の何れかを使用
      <level value="OFF " />
      <level value="FATAL" />
      <level value="ERROR" />
      <level value="WARN" />
      <level value="INFO" />
      <level value="DEBUG" />
      <level value="ALL" />
    -->
      <appender-ref ref="SizeRollingLogToFile"/>
    </root>
  </log4net>
  <!--customerrors mode="On" defaultredirect="ErrorPage.aspx" /-->
  <system.web>
    <pages validateRequest="false"/>
  </system.web>
</configuration>